h3{
  text-align: center;
  padding: 20px 0;
  border-top: 1px dashed gray;
  border-right: 1px dashed gray;
  border-left: 1px dashed gray;
  flex-basis: 100%;
}

.iconesColor div{
  color: #FB8A9B;
  text-align: center;
}

section{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 45px;
}

section article{
  width: 30%;
}